header.header
  .header__left-block
    .header__logo
      img(src="img/icons/logo.svg", alt="Логотип")

    nav.header__links
      a.header__link(href="#") Доставка питания
      a.header__link(href="#") Второй пункт

  .header__right-block
    button(class="btn  btn_white" data-modal) Связаться с нами